
body, html {
  height: 100%;
  margin: 0;
}
/* this is how we start any app in css */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  
}


.App {
  background-image: url("https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  
}

.flex-container {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
background-color: white;
width: 300px;
height: 300px;
opacity: 0.5;
margin: 20px;
border-radius: 10%;
}
  /* .child-one {

  }

  .child-two {

  }

  .child-three {

  }

  .child-four {

  } */



.main-image {
  margin: 20px auto;
  max-width: 400px;
  opacity: 0.3;
  background-color: white;
  background: rgba(0, 128, 0, 0.3);
  border: 1px solid green;
}

.container1 {
  border-radius: 5px;
  padding: 20px 50px 20px 50px;
}

.container2 {
border-radius: 5px;
  padding: 0px 50px 0px 50px;
  font-size: 20px;
}

.header {
display: flex;
align-items: center;
  width: 298px;
  height: 50px;
  justify-content: center;
  font-size: 25px;
  color: rgb(40, 43, 66);
  font-weight: bold;

}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.form-control {
  font-family: 'Comfortaa';
  width: 150px;
  border: 2px solid rgb(45.5, 46.7, 65.9);
  opacity: 0.5;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  justify-content: center;
  background-color: brown;
  justify-content:center;

}

/* .button {
  font-weight: bold;
  color: rgb(40, 43, 66);
  border: 2px solid rgb(45.5, 46.7, 65.9);
  opacity: 0.9;
  border-radius: 10%;
  padding: 80px;
  margin: 50px; 
} */

/* .py-2 {
  font-size: 100;
  color: rgb(40, 43, 66);
  padding: 20px 20px 20px 20px;
  justify-content: center;
  display: flex;
align-items: center;
}

.main-description {
  font-size: small;
  color: rgb(40, 43, 66);
  text-align: center;
  line-height: 50px;
  justify-content: center;
  align-items: center;
}

.secondary-description {
  line-height: 40px;
  color: rgb(40, 43, 66);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.weather-icons {
  font-size: 50px;
  color: rgb(40, 43, 66);
  line-height: 100px;
  justify-content: center;
  display: flex;
align-items: center;
}

.weather-icons-wind {
  text-align: center;
  color: rgb(40, 43, 66);
  line-height: 50px;
}

.weather-icons-win {
  font-size: 50px;
  color: rgb(40, 43, 66);
  line-height: 100px;
  justify-content: center;
  display: flex;
}  */